
[user]

	name = Massimo Siboldi
	email = massimo@disqus.com
[alias]
	dc = diff --cached
	aa = add -A
	s = status
	cb = checkout -b
	st = stash
	stp = stash pop
	rbm = rebase master
	c = commit -m
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	apply-gitignore = !git ls-files -ci --exclude-standard -z | xargs -0 git rm --cached
[credential]
	helper = osxkeychain
